body {
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  background-image: url("img/6.png");
}

.container {
  margin: 20px auto 5px;
  width: 365px;
  text-align: center;
  background: #fff;
  opacity: 0.8;
  width: 365px;
  padding: 15px;
}


#timer {
  background: #DDFFFF;
  height: 80px;
  line-height: 80px;
  font-size: 50px;
  margin-bottom: 15px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.controls > div {
  cursor: pointer;
  user-select: none;
  width: 80px;
  background: #DDFFFF;
  height: 40px;
  line-height: 40px;
  
}

.controls > div + div {
  margin-left: 15px;
}




#mouse {
  margin: 0px auto;
  opacity: 0.5;
  background: #000;
  width: 700px;
  height: 500px;
  text-align: center;
  line-height: 500px;
}



#number{
  color: #fff;
  font-size: 200px;
  user-select: none;
}
